@font-face {
    font-family: 'Poppins';
    src: url("../Fuentes/poppins/Poppins-Regular.otf") format("opentype");
}

* {
    font-family: Poppins;
}

body {
    background: url("../img/backgroundImage.jpg") no-repeat center center fixed;
    background-size: cover;
}

.divContenedorTodo {
    margin-left: 5%;
    margin-right: 5%;
}

.h2Registro {
    text-align: center;
    color: black;
    background: none;
}

.divContenedorErroneas {
    margin-top: 50px;
}

.divTablaErroneas {
    background: white;
}

.inputSize20 {
    width: 20%;
    display: inline-block;
    margin-bottom: 1%;
}

.inputSize10 {
    width: 10%;
    display: inline-block;
    margin-bottom: 1%;
}

.divFormularioBusqueda {
    margin-top: 2%;
}

.table td {
    vertical-align: middle;
}

/* .parpadeo {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 1.0;
    }
} */

.registroPinchado {
    background: chocolate;
}

.registroHover {
    background: burlywood
}