@font-face {
    font-family: 'Poppins';
    src: url("../Fuentes/poppins/Poppins-Regular.otf") format("opentype");
}

* {
    font-family: Poppins;
}

body {
    background: url("../img/backgroundImage.jpg") no-repeat center center fixed;
    background-size: cover;
}

.divContenedor {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 41px;
}

.divh1 {
    text-align: center;
}

.divInput {
    display: grid;
    margin-top: 40px;
}

.divButton {
    text-align: center;
    margin-top: 27.5px;    
}

.divPassOlvidada { 
    margin-top: 22px;
    text-align: center;
}

.inputUsuario {
    margin-bottom: 11px;
}

.inputSize {
    width: 350px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.buttonSize {
    width: 350px;
}

/* Load */
#loadGif {
    width: 36px;
}

a:hover {text-decoration: none;color: teal;}
a {color: darkgreen}

@media only screen and (max-width: 633px) {
    .divContenedor {
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media only screen and (max-width: 500px) {
    .divContenedor {
        margin-left: 20px;
        margin-right: 20px;
    }
    .buttonSize, .inputSize {
        width: 100%;
    }
}