<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pendientes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="./css/barraNavegacion.css">
    <link rel="stylesheet" href="./css/pendientes.css">
    <script src="./js/menu.js"></script>
</head>

<body>
    <div class="divContenedorTodo">

        <nav class="nav nav-pills nav-justified" style="background-color: black; border-radius: none">
            <a class="nav-item aAumentado">Inicio</a>
            <a class="nav-item aAumentado">Pendientes</a>
            <a class="nav-item aAumentado">Erróneas</a>
            <a class="nav-item aAumentado">En Trámite</a>
            <a class="nav-item aAumentado">Ayuda</a>
            <a class="nav-item aAumentado">Cerrar sesión</a>
        </nav>

        <div class="divFormularioBusqueda">
            <input class="inputSize10 form-control" placeholder="Nombre" type="text">
            <input class="inputSize20 form-control" placeholder="Apellidos" type="text">

            <select class="inputSize10 form-control" placeholder="Año">
                <option disabled selected>Grado</option>
                <option>DAM</option>
                <option>ASIR</option>
                <option>DAW</option>
            </select>

            <select class="inputSize10 form-control" placeholder="Año">
                <option disabled selected>Año curso</option>
                <option>1º AÑO</option>
                <option>2º AÑO</option>
            </select>


            <button id="botonBusquedaAvanzada" class="buttonSize btn btn-success">Busqueda avanzada</button>
            <button id="botonConsulta" class="buttonSize btn btn-success">Buscar todo</button>
            <button class="buttonSize btn">Limpiar</button>
        </div>

        <div ng-app="myApp" ng-controller="loadMatriculasPendientes" class="divContenedorPendientes">
            <div style="display: none" id="divMatriculaVer">
                <div class="row filaContenido">

                    <!-- Contenedor Contenido Formulario -->
                    <div class="container-fluid contenedorContenidoFormulario">

                        <!-- Fila Formulario 1 -->
                        <div class="row filaFormulario">

                            <!-- Columna Nombre -->
                            <div class="col-xs-1 col-sm-2 col-md-4 form-group columnaFormulario">

                                <label for="nombre">Nombre:</label>
                                <input ng-model="verValueNombre" type="text" class="form-control" id="nombre"
                                    placeholder="Nombre">

                            </div>

                            <!-- Columna Primer Apellido -->
                            <div class="col-xs-1 col-sm-2 col-md-4 form-group columnaFormulario">

                                <label for="primerApellido">Primer Apellido:</label>
                                <input ng-model="verValuePrimerApellido" type="text" class="form-control"
                                    id="primerApellido" placeholder="Primer Apellido">

                            </div>

                            <!-- Columna Segundo Apellido -->
                            <div class="col-xs-1 col-sm-2 col-md-4 form-group columnaFormulario">

                                <label for="segundoApellido">Segundo Apellido:</label>
                                <input ng-model="verValueSegundoApellido" type="text" class="form-control"
                                    id="segundoApellido" placeholder="Segundo Apellido">

                            </div>

                        </div>

                        <!-- Fila Formulario 2 -->
                        <div class="row filaFormulario">

                            <!-- Columna Fecha Nacimiento -->
                            <div class="col-xs-1 col-sm-6 col-md-3 form-group columnaFormulario">

                                <label for="fechaNacimiento">Fecha Nacimiento:</label>
                                <input ng-model="verValueFechaNacimiento" id="fechaNacimiento" class="form-control"
                                    placeholder="Fecha Nacimiento">

                            </div>

                            <!-- Columna Tipo Documentacion -->
                            <div class="col-xs-1 col-sm-6 col-md-3 form-group columnaFormulario">

                                <label for="tipoDocumentacion">Tipo Documentacion:</label>
                                <select ng-model="verValueTipoDocumentacion" class="form-control"
                                    id="tipoDocumentacion">
                                    <option hidden checked>Tipo Documentacion</option>
                                    <option>NIF</option>
                                    <option>NIE</option>
                                </select>

                            </div>

                            <!-- Columna NIF/NIE -->
                            <div class="col-xs-1 col-sm-6 col-md-3 form-group columnaFormulario">

                                <label for="numDNI">NIF/NIE:</label>
                                <input ng-model="verValueNumeroDocumentacion" type="text" class="form-control"
                                    id="numDNI" placeholder="NIF/NIE">

                            </div>

                            <!-- Columna Nacionalidad -->
                            <div class="col-xs-1 col-sm-2 col-md-3 form-group columnaFormulario">

                                <label for="nacionalidad">Nacionalidad:</label>
                                <input ng-model="verValueNacionalidad" type="text" class="form-control"
                                    id="nacionalidad" placeholder="Nacionalidad">

                            </div>

                        </div>

                        <!-- Fila Formulario 3 -->
                        <div class="row filaFormulario">

                            <!-- Columna Provincia -->
                            <div class="col-xs-1 col-sm-2 col-md-4 form-group columnaFormulario">

                                <label for="provincia">Provincia:</label>
                                <input ng-model="verValueProvincia" type="text" class="form-control" id="provincia"
                                    placeholder="Provincia">

                            </div>

                            <!-- Columna Localidad -->
                            <div class="col-xs-1 col-sm-2 col-md-4 form-group columnaFormulario">

                                <label for="nombreLocalidad">Localidad:</label>
                                <input ng-model="verValueLocalidad" type="text" class="form-control"
                                    id="nombreLocalidad" placeholder="Localidad">

                            </div>

                            <!-- Columna Codigo Postal -->
                            <div class="col-xs-1 col-sm-2 col-md-4 form-group columnaFormulario">

                                <label for="cpLocalidad">Código Postal:</label>
                                <input ng-model="verValueCodigoPostal" type="text" class="form-control" id="cpLocalidad"
                                    placeholder="Código Postal">

                            </div>

                        </div>

                        <!-- Fila Formulario 4 -->
                        <div class="row filaFormulario">

                            <!-- Columna Nombre de la Via -->
                            <div class="col-xs-1 col-sm-2 col-md-3 form-group columnaFormulario">

                                <label for="calleDom">Calle:</label>
                                <input ng-model="verValueCalleDomicilio" type="text" class="form-control" id="calleDom"
                                    placeholder="calleDom">

                            </div>


                            <!-- Columna Numero -->
                            <div class="col-xs-1 col-sm-2 col-md-2 form-group columnaFormulario">

                                <label for="numeroDom">Número:</label>
                                <input ng-model="verValueNumeroDomicilio" type="text" class="form-control"
                                    id="numeroDom" placeholder="Nº">

                            </div>

                            <!-- Columna Telefono -->
                            <div class="col-xs-1 col-sm-2 col-md-3 form-group columnaFormulario">

                                <label for="telefono">Teléfono:</label>
                                <input ng-model="verValueTelefono" type="text" class="form-control" id="telefono"
                                    placeholder="Teléfono Fijo/Móvil">

                            </div>

                            <!-- Columna Correo Electronico -->
                            <div class="col-xs-1 col-sm-2 col-md-4 form-group columnaFormulario">

                                <label for="email">Correo Electrónico:</label>
                                <input ng-model="verValueNumeroDomicilio" type="text" class="form-control" id="email"
                                    placeholder="Correo Electrónico">

                            </div>

                        </div>

                    </div>

                </div>
                <!-- <div id="divInputVer">
                    20 inputs
                    <div class="ml inputSize22-5 input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                        </div>
                        <input type="text" class="form-control" ng-model="verValueNombre" aria-label="Default">
                    </div>
                    <div class="ml inputSize35 input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Primer apellido</span>
                        </div>
                        <input type="text" class="form-control" ng-model="verValuePrimerApellido" aria-label="Default">
                    </div>
                    <div class="inputSize35 input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Segundo apellido</span>
                        </div>
                        <input type="text" class="form-control" ng-model="verValueSegundoApellido" aria-label="Default">
                    </div>
                </div>
                <div id="divInputVer">
                    <div class="inputSize30 input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Fecha de nacimiento</span>
                        </div>
                        <input type="date" class="form-control" ng-model="verValueFechaNacimiento" aria-label="Default">
                    </div>
                </div> -->
                <!-- <label>Nombre:</label>
                <input type="text" ng-model="verValueNombre" class="sizeInput form-control" aria-label="Default"> -->
                <!-- <label>Primer apellido:</label>
                <input type="text" ng-model="verValuePrimerApellido" class="sizeInput form-control"
                    aria-label="Default">
                <label for="">Segundo Apellido:</label>
                <input type="text" ng-model="verValueSegundoApellido" class="sizeInput form-control"
                    aria-label="Default">
                <label for="">Fecha de nacimiento:</label>
                <input ng-model="verValueFechaNacimiento" type="date" class="sizeInput form-control"
                    placeholder="dd/mm/aaaa"> -->
                <div>
                    <button class="btn btn-outline-secondary" ng-click="Volver()">Volver</button>
                    <button class="btn btn-success" ng-click="Volver()">Guardar</button>
                </div>
            </div>
            <div class="divTablaPendientes">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Año</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="matricula in matriculasPendientes">
                            <td>{{ matricula.nombre_completo.nombre 
                                +" "+ matricula.nombre_completo.primer_apellido
                                +" "+ matricula.nombre_completo.segundo_apellido }}
                            </td>
                            <td>{{ matricula.ciclo_formativo.ciclo }}</td>
                            <td>{{ matricula.ciclo_formativo.curso }}</td>
                            <td>
                                <a href=""><img src="./img/asignar.png" class="parpadeo" width="40px"
                                        title="Asignar Registro" alt="Asignar Registro"></a>
                                <a ng-click="verMatricula($index)" href=""><img src="./img/ver.png" class="parpadeo"
                                        width="40px" title="Ver Registro" alt="Ver Registro"></a>
                                <a ng-click="deleteRegistro($index, matricula._id)" href=""><img src="./img/borrar.png"
                                        class="parpadeo" width="40px" title="Eliminar Registro"
                                        alt="Eliminar Registro"></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="./js/pendientes.js"></script>

</html>